@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --black: #040a0e;
  --white: #e5eff5;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--black);
  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 6vh;
  align-items: center;
}

h1 {
  margin-top: 6vh;
  font-size: 45px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.block {
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  height: 150px;

  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block:nth-of-type(3n) {
  border-right: none;
}

.block:nth-of-type(1n + 7) {
  border-bottom: none;
}

.winner {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out, visibility 1s ease-out;
  text-align: center;
}

.winner.show {
  opacity: 1;
  visibility: visible;
}

.buttons {
  position: absolute;
  top: 25vh;
  left: 10vw;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons > button {
  background-color: var(--white);
  color: var(--black);
  border: none;
  font-size: 20px;
  padding: 7px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.buttons > button:hover {
  background-color: #bebebe;
  box-shadow: 0 0 12px var(--white);
}

.name {
  background-color: var(--black);
  border: 1px solid var(--white);
  box-shadow: 2px 2px 8px var(--white);
  color: var(--white);
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: box-shadow 0.5s ease-out;
}

.name:focus {
  outline: none;
  box-shadow: 2px 2px 12px var(--white);
}
